body.matugen {
  --accent: {{colors.primary.default.hex}};
  --accent-overlay: {{colors.inverse_primary.default.hex}};
  
  --primary: {{colors.primary.default.hex}};
  --primary-hover: {{colors.primary_container.default.hex}};
  --navbar-accent: var(--primary);
  
  --background: {{colors.surface.default.hex | lighten : 5}};
  --body-background: {{colors.surface.default.hex}};
  --navbar-background: {{colors.surface_container_lowest.default.hex}};
  
  --background-darker: var(--background);
  --current-background: var(--body-background);
  --navbar-active-background: {{colors.surface_container_high.default.hex}};
  --navbar-inactive: {{colors.on_surface_variant.default.hex}};
  --navbar-active: {{colors.primary.default.hex}};

  --input-background: var(--navbar-background);
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);

  --success: {{colors.tertiary.default.hex}};
  --success-hover: {{colors.tertiary_container.default.hex}};
  --danger: {{colors.error.default.hex | lighten : -10}};
  --danger-hover: {{colors.error_container.default.hex}};

  --text-title: {{colors.on_surface.default.hex}};
  --action-icon: {{colors.on_surface.default.hex}};
  --action-icon-hover: {{colors.primary.default.hex}};
  --action-icon-active: {{colors.on_surface_variant.default.hex}};
  --icons-background: {{colors.surface_variant.default.hex}};
  --icon-disabled: {{colors.on_surface_variant.default.hex}};

  --anticheat-denied: var(--danger);
  --anticheat-broken: var(--accent);
  --anticheat-running: var(--primary);
  --anticheat-supported: var(--success);
  --anticheat-planned: {{colors.secondary.default.hex}};
}

[data-tour="sidebar-docs"] {
 display: none !important;
}

[data-tour="sidebar-community"] {
 display: none;
}

.SidebarItemWithSubmenu:has([data-tour="sidebar-stores"]) {
 display: none;
}