input {
	
    touchpad {
        tap
        natural-scroll
    }
}

output "eDP-1" {
    scale 1.25
}


prefer-no-csd


animations {
    slowdown 0.75
}


include "modules/binds.kdl"
include "modules/layout.kdl"
include "modules/appearence.kdl"
include "modules/startup.kdl"

include "noctalia.kdl"