prefer-no-csd

layout {
    gaps 10

    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 0.75
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0000"
    }
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}